logging:
    level:
        root: INFO
        org.springframework.web: INFO
        org.springframework.security: INFO
        org.springframework.security.oauth2: INFO
        org.springframework.boot.autoconfigure: DEBUG

server:
    forward-headers-strategy: NATIVE

spring:
    security:
        oauth2:
            client:
                registration:
                    unity:
                        provider: hdf
                        client-id: helmholtz-marketplace
                        client-secret: ${secret:nopass}
                        authorization-grant-type: authorization_code
                        redirect-uri: "{baseUrl}/login/oauth2/code/unity"
                        scope:
                            - credentials
                            - profile
                            - email
                        client-authentication-method: basic
                provider:
                    hdf:
                        issuer-uri: https://login.helmholtz-data-federation.de/oauth2
                        authorization-uri: https://login.helmholtz-data-federation.de/oauth2-as/oauth2-authz
                        token-uri: https://login.helmholtz-data-federation.de/oauth2/token
                        user-info-uri: https://login.helmholtz-data-federation.de/oauth2/userinfo
                        jwk-set-uri: https://login.helmholtz-data-federation.de/oauth2/jwk
                        user-name-attribute: sub